.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__vLeZ3 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #000000;
  padding-top: 72px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.freeBox__vLeZ3 > * {
  grid-column: 4;
}
.freeBox__rrwIq {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: var(--token-glF2Y6YcRDiwNh);
  padding: 15px 30px;
}
.freeBox__rrwIq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rrwIq > :global(.__wab_flex-container) > *,
.freeBox__rrwIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrwIq > :global(.__wab_flex-container) > picture > img,
.freeBox__rrwIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__mb2GL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oMdod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__uoNcM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-KvwRoNxH_VUpY);
  padding-right: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__ps1KG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0SKc1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__e5Vdn {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #35290f;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__dtmvH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.responsiveMenu:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.freeBox__kMG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__gaXwb {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  margin-top: 0px;
}
.img__gaXwb > picture > img {
  object-fit: cover;
}
.freeBox___6DSyb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.iconHomePageMobile__yBhOu:global(.__wab_instance) {
  max-width: 100%;
}
.img__qrVIn {
  object-fit: cover;
  max-width: 100%;
}
.img__qrVIn > picture > img {
  object-fit: cover;
}
.text__ozk0M {
  padding-top: 0px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.iconHomePageMobile__xVvTj:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__zmheh {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100%;
  color: var(--token-9MkmzesVuXPDf0);
  min-height: 0;
}
.text__rh02C {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__oRlgZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 2;
  min-width: 0;
  padding: 0px;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 50%;
}
.iconHomePageMobile__cuazR:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__qDqSg {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-9MkmzesVuXPDf0);
}
.text__lEmXc {
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__mgorh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--token-hjny0JfiVsY7);
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__nTtP2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.img___8NgVb {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 41px;
  margin-top: 41px;
}
.img___8NgVb > picture > img {
  object-fit: cover;
}
.text__tqZR {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.text__jt31V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: right;
  padding-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__zqoxf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__q4Nit:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.svg__fYzK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6U7Bw {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #35290f;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rsHaE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__vwi7X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 50px;
}
.freeBox__vwi7X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vwi7X > :global(.__wab_flex-container) > *,
.freeBox__vwi7X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vwi7X > :global(.__wab_flex-container) > picture > img,
.freeBox__vwi7X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text___8Q6SJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___6S9KA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-9MkmzesVuXPDf0);
  border-radius: 50%;
  padding: 8px;
}
.img__ciPMv {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__ciPMv > picture > img {
  object-fit: cover;
}
