.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox___3N3Ih {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3N3Ih > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3N3Ih > :global(.__wab_flex-container) > *,
.freeBox___3N3Ih > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3N3Ih > :global(.__wab_flex-container) > picture > img,
.freeBox___3N3Ih
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 600px) {
  .freeBox___3N3Ih {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .freeBox___3N3Ih > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .freeBox___3N3Ih > :global(.__wab_flex-container) > *,
  .freeBox___3N3Ih > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3N3Ih > :global(.__wab_flex-container) > picture > img,
  .freeBox___3N3Ih
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.freeBox__dvmjC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
@media (min-width: 600px) {
  .freeBox__dvmjC {
    min-width: 250px;
    justify-content: flex-end;
  }
}
.text__f2IaV {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-LirvSzoJURQ3);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__i9JEf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 600px) {
  .freeBox__i9JEf {
    padding-left: 260px;
  }
}
.slotTargetErrorMessage {
  color: var(--token-SgwOAGxhWBqDn);
}
.text__glsD1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9IFrLQofJ0z8);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
