.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__on2VV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__zvqF7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
@media (min-width: 600px) {
  .freeBox__zvqF7 {
    max-width: 90%;
  }
}
.link__npcTs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__teKWi {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
}
.img__teKWi > picture > img {
  object-fit: cover;
}
.freeBox__vaKpF {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
.freeBox__vaKpF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__vaKpF > :global(.__wab_flex-container) > *,
.freeBox__vaKpF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vaKpF > :global(.__wab_flex-container) > picture > img,
.freeBox__vaKpF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 600px) {
  .freeBox__vaKpF {
    display: flex;
  }
}
@media (min-width: 600px) {
  .freeBox__vaKpF > :global(.__wab_flex-container) {
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .freeBox__vaKpF > :global(.__wab_flex-container) > *,
  .freeBox__vaKpF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vaKpF > :global(.__wab_flex-container) > picture > img,
  .freeBox__vaKpF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 0px;
  }
}
.link__nw5Lv {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.link___0848T {
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 600px) {
  .link___0848T {
    display: none;
  }
}
.link__y00B2 {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
@media (min-width: 600px) {
  .link__y00B2 {
    display: none;
  }
}
.svg__be1R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 600px) {
  .svg__be1R {
    display: none;
  }
}
.freeBox__gSFrz {
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin-top: 0px;
  background: url("/plasmic/a_d/images/image3.jpg") 0% 0% / contain;
  min-width: 0;
  display: none;
  padding: 0px 8px 8px 0px;
}
.freeBox__gSFrz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__gSFrz > :global(.__wab_flex-container) > *,
.freeBox__gSFrz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gSFrz > :global(.__wab_flex-container) > picture > img,
.freeBox__gSFrz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBoxisOpen2__gSFrzdZjGv {
  display: flex;
}
.freeBox__aP1G {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
.link___56Gyo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__s5Nnr {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__s5Nnr > picture > img {
  object-fit: cover;
}
.freeBox__cSnL {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
.freeBox__cSnL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cSnL > :global(.__wab_flex-container) > *,
.freeBox__cSnL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cSnL > :global(.__wab_flex-container) > picture > img,
.freeBox__cSnL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 600px) {
  .freeBox__cSnL {
    display: flex;
  }
}
.link__t3Oh {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.link__nxksb {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.link__xgcS3 {
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg___2Y42F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .svg___2Y42F {
    display: none;
  }
}
.freeBox__lfcCt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
.freeBox__lfcCt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__lfcCt > :global(.__wab_flex-container) > *,
.freeBox__lfcCt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lfcCt > :global(.__wab_flex-container) > picture > img,
.freeBox__lfcCt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.link__uoBc9 {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.link__bfUjt {
  width: auto;
  height: auto;
  max-width: 100%;
}
.linkisOpen2__bfUjtdZjGv {
  display: none;
}
.link__vmr0A {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.linkisOpen2__vmr0AdZjGv {
  display: none;
}
