.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__jpyPj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.freeBox__pJoeB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__eRn1W {
  object-fit: cover;
  max-width: 50%;
  max-height: 70%;
  object-position: 50% 0%;
}
.img__eRn1W > picture > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.freeBox__c9Kw3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 50px;
}
.freeBox__c9Kw3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__c9Kw3 > :global(.__wab_flex-container) > *,
.freeBox__c9Kw3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c9Kw3 > :global(.__wab_flex-container) > picture > img,
.freeBox__c9Kw3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.freeBox__zzNtm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hUm9E {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 50px;
  color: var(--token-hjny0JfiVsY7);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__oEoi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__bHoVj {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9MkmzesVuXPDf0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__wtm6S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wtm6S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wtm6S > :global(.__wab_flex-container) > *,
.freeBox__wtm6S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtm6S > :global(.__wab_flex-container) > picture > img,
.freeBox__wtm6S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__zPokq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9MkmzesVuXPDf0);
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___7TGh5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-9MkmzesVuXPDf0);
  border-radius: 50%;
  padding: 8px;
}
.img__h0O {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
}
.img__h0O > picture > img {
  object-fit: cover;
}
