.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-mvPi8vLgQ3vc);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-XJKsD1jJY9YY);
  font-family: var(--token-ZXfPppI775Gn);
  font-size: var(--token-mCt0i1-OZ02P);
  line-height: var(--token-A9duI7swTLcB);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Dfo1B2B5a_JC);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-YF8UzMjEMzS0);
  outline-offset: 1px;
  outline-color: var(--token-mvPi8vLgQ3vc);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-AzcUgVx6Ugmc);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-qU0LGOO2wytg);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-BsUWwtjalUgC);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-RUHmsMUCbtDE);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-4oJqfZoW5qu8);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-xjUy-vhkVnZg);
  font-size: var(--token--JEyXXy62m4u);
  column-gap: var(--token-YF8UzMjEMzS0);
  row-gap: 0px;
  border-radius: var(--token-wL4HjS0asstH);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token--JEyXXy62m4u);
  line-height: var(--token-xjUy-vhkVnZg);
  column-gap: var(--token-wL4HjS0asstH);
  row-gap: 0px;
  border-radius: var(--token-wL4HjS0asstH);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Sa64OeNVv4YL);
  line-height: var(--token-E957SVidDa14);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Sa64OeNVv4YL);
  line-height: var(--token-E957SVidDa14);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-4f8xOM07KHVq);
  border-radius: var(--token-Dfo1B2B5a_JC);
}
.softBackgroundcolor_neutral {
  background: var(--token-HxKwCCG_VPoX);
}
.softBackgroundcolor_muted {
  background: var(--token-cqNIvZfgvfBF);
}
.softBackgroundcolor_success {
  background: var(--token-lZD-8iRayJxd);
}
.softBackgroundcolor_warning {
  background: var(--token-HrUkTdyzynLF);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-qqnMV1VGqNJb);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Dfo1B2B5a_JC);
  border: 0px solid var(--token-tF5tBFTVeQwp);
}
.bordercolor_neutral {
  border-color: var(--token-nZ2tv8bSIF6p);
}
.bordercolor_muted {
  border-color: var(--token-XlsmlOP4sWU0);
}
.bordercolor_success {
  border-color: var(--token-x-fGPGj7PQpu);
}
.bordercolor_warning {
  border-color: var(--token-DBnRc5UuN5l5);
}
.bordercolor_errorDestructive {
  border-color: var(--token-bSNrt3ZEVsW6);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Dfo1B2B5a_JC);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-NSal8grYPMhX);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-8JFiHMYjImlD);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-TNsGY1HZFX13);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__sy7Ev {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Dfo1B2B5a_JC) var(--token-pYOETPoZPWdp);
}
.freeBox__sy7Ev > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Dfo1B2B5a_JC));
  width: calc(100% + var(--token-Dfo1B2B5a_JC));
}
.freeBox__sy7Ev > :global(.__wab_flex-container) > *,
.freeBox__sy7Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sy7Ev > :global(.__wab_flex-container) > picture > img,
.freeBox__sy7Ev
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dfo1B2B5a_JC);
}
.freeBoxsize_extraSmall__sy7Ev5DwFh {
  padding: var(--token-wL4HjS0asstH) var(--token-Dfo1B2B5a_JC);
}
.freeBoxsize_small__sy7EvIgn2V {
  padding: var(--token-Dfo1B2B5a_JC) var(--token-XJKsD1jJY9YY);
}
.freeBoxsize_large__sy7EvPiDyB {
  padding-top: var(--token-wL4HjS0asstH);
  padding-bottom: var(--token-wL4HjS0asstH);
}
.freeBoxsize_extraLarge__sy7EvyRc5Y {
  padding-left: var(--token--svG-4n6jEhS);
  padding-right: var(--token--svG-4n6jEhS);
}
.freeBoxroundedFull__sy7EvGi6Lz {
  padding-right: var(--token--svG-4n6jEhS);
  padding-left: var(--token--svG-4n6jEhS);
}
.freeBox__a1VC1 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__a1VC1IRWfI {
  display: flex;
}
.slotTargetStart {
  color: var(--token-r6y9dYw6P9QH);
}
.slotTargetStartcolor_neutral {
  color: var(--token-6_XC5lnEjzpS);
}
.slotTargetStartcolor_muted {
  color: var(--token-8ExGqSvWI7tk);
}
.slotTargetStartcolor_success {
  color: var(--token-f2mJ-OtoQRE2);
}
.slotTargetStartcolor_warning {
  color: var(--token-rXBhpQQ7kejb);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-l17wKbsN8d1o);
}
.slotTargetStarttype_soft {
  color: var(--token-4i1ikRksvpAw);
}
.slotTargetStarttype_bordered {
  color: var(--token-4i1ikRksvpAw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token--JEyXXy62m4u);
}
.slotTargetStartsize_small {
  font-size: var(--token--JEyXXy62m4u);
}
.slotTargetStartsize_large {
  font-size: var(--token-Sa64OeNVv4YL);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Sa64OeNVv4YL);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-IGrBcrgkLE-b);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-IGrBcrgkLE-b);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-4fxGz4NalGcg);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-4fxGz4NalGcg);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-PpTH9NrUsP6W);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-PpTH9NrUsP6W);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-r5eZYpD2mYzj);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-r5eZYpD2mYzj);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-CUSGhneeZ7-A);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-CUSGhneeZ7-A);
}
.svg__e7KjR {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-r6y9dYw6P9QH);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-6_XC5lnEjzpS);
}
.slotTargetLabelcolor_muted {
  color: var(--token-8ExGqSvWI7tk);
}
.slotTargetLabelcolor_success {
  color: var(--token-f2mJ-OtoQRE2);
}
.slotTargetLabelcolor_warning {
  color: var(--token-rXBhpQQ7kejb);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-l17wKbsN8d1o);
}
.slotTargetLabeltype_soft {
  color: var(--token-4i1ikRksvpAw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-4i1ikRksvpAw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-IGrBcrgkLE-b);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-4fxGz4NalGcg);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-IGrBcrgkLE-b);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-PpTH9NrUsP6W);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-4fxGz4NalGcg);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-r5eZYpD2mYzj);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-PpTH9NrUsP6W);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-CUSGhneeZ7-A);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-r5eZYpD2mYzj);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-CUSGhneeZ7-A);
}
.text___1L4A {
  white-space: pre;
}
.freeBox__fIrfE {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__fIrfEAhBTq {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-r6y9dYw6P9QH);
}
.slotTargetEndcolor_neutral {
  color: var(--token-6_XC5lnEjzpS);
}
.slotTargetEndcolor_muted {
  color: var(--token-8ExGqSvWI7tk);
}
.slotTargetEndcolor_success {
  color: var(--token-f2mJ-OtoQRE2);
}
.slotTargetEndcolor_warning {
  color: var(--token-rXBhpQQ7kejb);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-l17wKbsN8d1o);
}
.slotTargetEndtype_soft {
  color: var(--token-4i1ikRksvpAw);
}
.slotTargetEndtype_bordered {
  color: var(--token-4i1ikRksvpAw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token--JEyXXy62m4u);
}
.slotTargetEndsize_small {
  font-size: var(--token--JEyXXy62m4u);
}
.slotTargetEndsize_large {
  font-size: var(--token-Sa64OeNVv4YL);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Sa64OeNVv4YL);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-IGrBcrgkLE-b);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-IGrBcrgkLE-b);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-4fxGz4NalGcg);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-4fxGz4NalGcg);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-PpTH9NrUsP6W);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-PpTH9NrUsP6W);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-r5eZYpD2mYzj);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-r5eZYpD2mYzj);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-CUSGhneeZ7-A);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-CUSGhneeZ7-A);
}
.svg__yw02O {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
